@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}


.hero-img {
    background-image: url("https://i.ibb.co/j3fDZYd/IMG-20231018-160911.jpg");
    /* width: 35rem; */
    /* height: 35rem; */
    /* width: 350px;
    height: 350px; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 5px solid black;
}

/* @media (max-width: 500px) {
    .hero-img {
        width: 28rem;
        height: 28rem;
    }
} */

.hero-img {
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    /* position: relative; */
    transition: all 1s ease-in-out;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    /* 80% {
        border-radius: 10% 60% 70% 40% / 50% 60% 30% 60%;
    } */

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}


/* input style */
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.focus\:shadow-primary\/70:focus {
    --tw-shadow-color: rgb(105 25 255 / .7);
    --tw-shadow: var(--tw-shadow-colored);
}


.shadow-\[0_0_10px\,_inset_0_0_10px\] {
    --tw-shadow: 0 0 10px, inset 0 0 10px;
    --tw-shadow-colored: 0 0 10px var(--tw-shadow-color), inset 0 0 10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.focus\:shadow-primary\/70:focus {
    --tw-shadow-color: rgb(105 25 255 / .7);
    --tw-shadow: var(--tw-shadow-colored);
}
.focus\:border-primary:focus {
    --tw-border-opacity: 1;
    border-color: rgb(105 25 255 / var(--tw-border-opacity));
}

.shadow-transparent {
    --tw-shadow-color: transparent;
    --tw-shadow: var(--tw-shadow-colored);
}